/*HEADER*/

header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 4rem 0rem;
    z-index: 2022;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .container nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav .menu li{
    margin-right: 4.8rem
}

header .container nav .menu-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    gap:3.4rem;
}

/*section hero*/

.s-hero{
    background: url(../img/backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.s-hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-hero .container .title-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 59.2rem;
    margin-top: 24rem;
    margin-bottom: 6rem;

}

.s-hero .container .title-box h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    text-align: center;
    color: var(--white-color);
}

.s-hero .container .title-box h1 span {
    color:var(--primary-color);
}

.s-hero .container .title-box h2{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 6rem;
    text-align: center;
    color: rgba(255,255,255,0.8);
    margin-bottom: 2rem;
}

.s-hero .container .title-box p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    color: rgba(220,256,75,0.8);
}

.s-hero .container .title-box .techs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 2.3rem;
    margin-bottom: 2rem;
}

.s-hero .container .title-box .techs img{
    transition: all 0.2s;
}

.s-hero .container .title-box .techs img:hover{
    transform: translateY(-12%);
}


.s-hero .container.title-box .btn-primary{
    margin-top: 4rem;
    padding: 1rem 5.6rem;
}

/* section success*/

.s-sucess{
    padding: 14.4rem 0;
    margin:0 auto;
}
.s-sucess .container{
    display: flex;
    align-items: center;
    gap: 4.4rem;
}

.s-sucess .container .cards{
    display: flex
}

.s-sucess .container .title-success h2{
    margin-top: 2rem;
    font-weight: 700;
}

/*

.s-sucess .container .title-success h2 span.bold {
    font-weight: 900;
}*/


.s-sucess .container .cards .card{
    display: 100%;
    background-color: var(--primary-color);
    height: 30.4rem;
    border-radius: 4px;
    margin-right: 3.1rem;
    cursor:pointer;
}
.s-sucess .container .cards .card .card-title{
    margin: 5rem 0;
    padding-right: 14.5rem;
    padding-left: 1.4rem;
}


.s-sucess .container .cards .card .card-title .h3{
    font-family: Inter;
    font-weight: 300;
    font-size: 6.4rem;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
}

.s-sucess .container .cards .card .card-info{
    padding-left: 1.4rem;
}

.s-sucess .container .cards .card .card-info p{
    font-family: Inter;
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 3.9rem;
}

/* footer */

footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .copy{
    color: rgba(255,255,255,0.8);
    font-weight: 400;
    line-height: 2.4rem;
    padding: 5.2rem 0rem;

}






